bin/
obj/

.vs/
*.suo
*.user
*.userosscache
*.sln.DotSettings.user

.idea/
*.iml

*.log
TestResults/
*.tmp

CarComparisonApi/appsettings.json
CarComparisonApi/appsettings.Development.json 
CarComparisonApi/Properties/launchSettings.json
CarComparisonApi/CarComparisonApi.http                 

CarComparisonApi/Data/

carcomparisonclient/
carcomparisonclient/node_modules/
carcomparisonclient/dist/
carcomparisonclient/.env
carcomparisonclient/.vite/
carcomparisonclient/.cache/

.env
.env.*.local
secret-*.json

.DS_Store
Thumbs.db